body{
    font-family: Arial, Helvetica, sans-serif;
    color: #142d4c;
}

a {
    text-decoration: none;
    color: #9fd3c7;
}

img {
    padding-bottom: 6px;
}

.container {
    max-width: 500px;
    margin: 150px auto;
    border: 1px solid #ececec;
    border-radius: 10px;
}


.row{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.units {
    font-weight: bold;
}

#first-row {
    text-align: left;
    padding-left: 5px;
    padding-bottom: 0;
    font-size: 12pt;
    font-weight: bold;
    color: #385170;
}

#grades {
    font-size: 35pt;
    font-weight: 500;
}

#simbol {
    font-size: 35pt;
    font-weight: 500;
}